-# CSS: implied media="all"
= stylesheet_link_tag 'style', :media => 'all'

-# Flexi Grid
= stylesheet_link_tag 'grid'

-# jQuery Mobile - Default Stylesheet
= stylesheet_link_tag 'jqmobile'

-# Uncomment if you are specifically targeting less enabled mobile browsers
-#= stylesheet_link_tag 'handheld', :media => 'handheld'

-# Append your own using content_for :stylesheets
= yield :stylesheets